body {
    margin: 0; /* fjerner margin fra body */
}

.logo {
    width: 225px; /* størrelse på billede */
    height: 250px; /* størrelse på billede */
}

header {
    background-color: hsl(360 0% 95%); /* baggrundsfarve på header */
    padding: 20px; /* tilføjer padding rundt om header */
}

.header-flexbox {
    display: flex;
    justify-content: space-between; /* horizontalt */
    align-items: center;
}

.dropdown {
    display: inline-block; /* Gør så knappen ikke går ud over knappen */
}

.dropdown a {
    display: block; /* hyperlinks bliver til en block */
    color: white; /* hvid farve */
    text-decoration: none; /* fjerner understreg fra <a> */
    padding: 10px 20px; /* giver hyperlinkse kasser */
}

.dropdown .dropdown-indhold {
    display: none; /* indholdet vises ikke */
    position: absolute; /* så knapperne sidder fast */
    min-width: 100px; /* giver hyperlinks en minimum width */
    border-color: green; /* border-color */
    border: 2px solid transparent; /* border størrelse */
}

.dropdown:hover .dropdown-indhold {
    display: block; /* indholdet bliver vist når man hover */
    background-color: #44831E; /* standard baggrundsfarve */
}

.dropdown-indhold a:hover {
    background-color: beige; /* ændrer baggrundsfarve når man hover */
    color: black !important; /* ændrer farven på teksten når man hover */
}