.overskrift
{
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.partnere
{
    font-family: "Montserrat", sans-serif;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 70px;
}

.partner-billede
{
    width: 150px;
    height: 100px;
    object-fit: contain;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #fff;
}
