    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Events</title>
        <link rel="stylesheet" href="/styles.css">
        <link rel="stylesheet" href="/header.css">
        <link rel="stylesheet" href="/events.css">
    </head>
    <header>
        <div class="header-flexbox">
            <a href="/">
            <img class="logo" src="/images/logo.png" alt="Logo">
            </a>
            <div class="dropdown">
                <button><a href="madspild-for">Sådan undgår du madspild</a></button>
                <div class="dropdown-indhold">
                    <a href="madspild-org">Sådan undgår du madspild (Som organisation)</a>
                    <a href="madspild-vir">Sådan undgår du madspild (Som virksomhed)</a>
                </div>
            </div>

            <div class="dropdown">
                <button><a href="events">Events</a></button>
            </div>

            <div class="dropdown">
                <button><a href="samarbejdspartnere">Vores samarbejdspartnere</a></button>
            </div>
            <div class="dropdown">
                <button><a href="kontakt">Kontakt os</a></button>
            </div>
        </div>

        <hr>

    </header>
    <body>
    <div class="events-wrapper">
        <div class="tidligere-events">
            <button><a href="tidligere-events">Tidligere events</a></button>
        </div>
        <h1>Events</h1>
        <div class="empty-space"></div> <!-- Tom div til at balancere flex -->
    </div>

    <div class="event-container">
        <div class="event">
            <img src="event1.jpg" alt="Event 1">
            <h3>Navn på event</h3>
            <p>Dato: 12. april 2025</p>
            <p>Beskrivelse af event (1 linje)</p>
        </div>
        <div class="event">
            <img src="event2.jpg" alt="Event 2">
            <h3>Navn på event</h3>
            <p>Dato: 20. maj 2025</p>
            <p>Beskrivelse af event (1 linje)</p>
        </div>
        <div class="event">
            <img src="event3.jpg" alt="Event 3">
            <h3>Navn på event</h3>
            <p>Dato: 5. juni 2025</p>
            <p>Beskrivelse af event (1 linje)</p>
        </div>
    </div>
    </body>
    </html>