    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Events</title>
        <link rel="stylesheet" href="/button.css">
        <link rel="stylesheet" href="/header.css">
        <link rel="stylesheet" href="/events.css">
    </head>
    <header>
        <div class="header-flexbox">
            <a href="/">
                <img class="logo" src="/images/logo.png" alt="Logo">
            </a>
            <div class="dropdown">
                <button><a href="madspild-for">Sådan undgår du madspild</a></button>
                <div class="dropdown-indhold">
                    <a href="madspild-org">Sådan undgår du madspild (Som organisation)</a>
                    <a href="madspild-vir">Sådan undgår du madspild (Som virksomhed)</a>
                </div>
            </div>

            <div class="dropdown">
                <button><a href="events">Events</a></button>
            </div>

            <div class="dropdown">
                <button><a href="samarbejdspartnere">Vores samarbejdspartnere</a></button>
            </div>
            <div class="tomt">
            </div>
        </div>

    </header>
    <body>
    <div class="events-wrapper">
        <div class="tidligere-events">
            <button style="margin: 20px;"><a href="tl_event">Tidligere events</a></button>
        </div>
        <h1>Events</h1>
        <div class="empty-space"></div> <!-- Tom div til at balancere flex -->
    </div>

    <div class="event-container">
        <div class="event">
            <a href="/nv_event1">
            <img src="images/refood.png" alt="Event 1">
            </a>
            <h3>Refood</h3>
            <p>Genopdag madens værdi og vær med til at bekæmpe madspild.</p>
            <p>Dato: 13. Juli 2025</p>
            <p>Location: Islands Brygge 18, 2300, København S</p>

        </div>
        <div class="event">
            <a href="/nv_event2">
            <img src="images/modmadspild.jpg" alt="Event 2">
            </a>
            <h3>Mod mad spild</h3>
            <p>Kom og vær med til at gøre en forskel – sammen kan vi bekæmpe madspild</p>
            <p>Dato: 20. Maj 2025</p>
            <p>Location: Vesterbro 12, 8000 Aarhus C</p>
        </div>
        <div class="event">
            <a href="/nv_event3">
            <img src="images/stopmadspildlokalt.jpg" alt="Event 3">
            </a>
            <h3>Tårnby kommune</h3>
            <p>Tag del i kampen mod madspild og vær med til at skabe en grønnere fremtid i Tårnby kommune!</p>
            <p>Dato: 5. Juni 2025</p>
            <p>Location: Kamillevej 10, 2770 Kastrup</p>
        </div>
    </div>
    </body>
    </html>