<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Danmark mod Madspild</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/header.css">
</head>
<header>
    <div class="header-flexbox">
        <a href="/">
        <img class="logo" src="/images/logo.png" alt="Logo">
        </a>
        <div class="dropdown">
            <button><a href="madspild-for">Sådan undgår du madspild</a></button>
            <div class="dropdown-indhold">
                <a href="madspild-org">Sådan undgår du madspild (Som organisation)</a>
                <a href="madspild-vir">Sådan undgår du madspild (Som virksomhed)</a>
            </div>
        </div>

        <div class="dropdown">
            <button><a href="events">Events</a></button>
        </div>

        <div class="dropdown">
            <button><a href="samarbejdspartnere">Vores samarbejdspartnere</a></button>
        </div>
        <div class="dropdown">
            <button><a href="kontakt">Kontakt os</a></button>
        </div>
    </div>

</header>
<body>

</body>
</html>