<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event 1</title>
    <link rel="stylesheet" href="/nv_event.css">
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/button.css">
</head>
<header>
    <div class="header-flexbox">
        <a href="/">
            <img class="logo" src="/images/logo.png" alt="Logo">
        </a>
        <div class="dropdown">
            <button><a href="madspild-for">Sådan undgår du madspild</a></button>
            <div class="dropdown-indhold">
                <a href="madspild-org">Sådan undgår du madspild (Som organisation)</a>
                <a href="madspild-vir">Sådan undgår du madspild (Som virksomhed)</a>
            </div>
        </div>

        <div class="dropdown">
            <button><a href="events">Events</a></button>
        </div>

        <div class="dropdown">
            <button><a href="samarbejdspartnere">Vores samarbejdspartnere</a></button>
        </div>
        <div class="dropdown">
            <button><a href="kontakt">Kontakt os</a></button>
        </div>
    </div>

</header>
<body>
<div class="nv_even-wrapper">
    <button style="margin: 20px;"><a href="events">Events</a></button>
    <h1>STOP - mad spild</h1>
    <div class="empty-space"></div> <!-- Tom div til at balancere flex -->
</div>

<div class="nv_event_wrapper">
    <img style="width: 200px; height: 200px;" src="images/modmadspild.jpg" alt="Event 2">
    <p>
        <b>Lad os bekæmpe madspild sammen<br></b>
        Eventet har til formål at skabe opmærksomhed omkring madspild og inspirere deltagerne til at tage ansvar
        i deres eget forbrug. <br> Gennem praktiske workshops, inspirerende oplæg og fællesskab lærer vi, hvordan vi kan
        reducere madspild både i hjemmet og på arbejdspladsen. <br>Målet er at engagere både privatpersoner og
        organisationer i kampen mod madspild, samtidig med at vi skaber et bæredygtigt samfund, der tager ansvar for
        miljøet og vores ressourcer. <br>Deltagerne får værktøjer til at forandre deres adfærd og kan være med til at
        gøre en forskel for både økonomi og planeten.<br>Alle kan være med! Gratis indgang i Kultur huset på Islands Brygge.
    </p>
</div>
</body>
</html>
