<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event 1</title>
    <link rel="stylesheet" href="/nv_event.css">
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/button.css">
</head>
<header>
    <div class="header-flexbox">
        <a href="/">
            <img class="logo" src="/images/logo.png" alt="Logo">
        </a>
        <div class="dropdown">
            <button><a href="madspild-for">Sådan undgår du madspild</a></button>
            <div class="dropdown-indhold">
                <a href="madspild-org">Sådan undgår du madspild (Som organisation)</a>
                <a href="madspild-vir">Sådan undgår du madspild (Som virksomhed)</a>
            </div>
        </div>

        <div class="dropdown">
            <button><a href="events">Events</a></button>
        </div>

        <div class="dropdown">
            <button><a href="samarbejdspartnere">Vores samarbejdspartnere</a></button>
        </div>
        <div class="dropdown">
            <button><a href="kontakt">Kontakt os</a></button>
        </div>
    </div>

</header>
<body>
<div class="nv_even-wrapper">
    <button style="margin: 20px;"><a href="events">Events</a></button>
    <h1>Stop lokal madspild</h1>
    <div class="empty-space"></div> <!-- Tom div til at balancere flex -->
</div>

<div class="nv_event_wrapper">
    <img style="width: 200px; height: 200px;" src="images/stopmadspildlokalt.jpg" alt="Event 3">
    <p> <b>Hvad kan du gøre lokalt for at stoppe madspild?<br></b> Her i Tårnby tror vi på, at små handlinger kan gøre en stor forskel. Lokalt i Tårnby kan du være med til at reducere madspild ved at ændre dine vaner og tage ansvar for dit forbrug.
        <br> Deltag i vores event på Tårnby Bibliotek, hvor vi sammen lærer praktiske metoder til at stoppe madspild i hverdagen.
        <br> Gennem workshops og oplæg får du konkrete værktøjer til at planlægge dine indkøb bedre, opbevare mad korrekt og genbruge madrester.
        <br> Vi vil også diskutere, hvordan du kan engagere din lokale kommune og dine omgivelser i kampen mod madspild.
        <br> Kom og vær med til at gøre en forskel – både for din pengepung og planeten. Gratis adgang til eventet på Tårnby Bibliotek!
    </p>
</div>
</body>
</html>
