<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vores Samarbejdspartenere</title>
    <link rel="stylesheet" href="/button.css">
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/samarbejdspartnere.css">

</head>
<header>
    <div class="header-flexbox">
        <a href="/">
            <img class="logo" src="/images/logo.png" alt="Logo">
        </a>
        <div class="dropdown">
            <button><a href="madspild-for">Sådan undgår du madspild</a></button>
            <div class="dropdown-indhold">
                <a href="madspild-org">Sådan undgår du madspild (Som organisation)</a>
                <a href="madspild-vir">Sådan undgår du madspild (Som virksomhed)</a>
            </div>
        </div>

        <div class="dropdown">
            <button><a href="events">Events</a></button>
        </div>

        <div class="dropdown">
            <button><a href="samarbejdspartnere">Vores samarbejdspartnere</a></button>
        </div>
        <div class="dropdown">
            <button><a href="kontakt">Kontakt os</a></button>
        </div>
    </div>

</header>
<body>
<div class="overskrift">
<h1>Vi er stolte a vores samarbejdspartnere!</h1>
</div>

<div class="partnere">
    <a href="https://foedevarestyrelsen.dk/" target="_blank">
    <img class="partner-billede" src="/images/partner1.jpeg" alt="partner 1">
    </a>

    <a href="https://www.lidl.dk/" target="_blank">
    <img class="partner-billede" src="/images/partner2.jpg" alt="partner 2">
    </a>

    <a href="https://www.tuborgfondet.dk/" target="_blank">
    <img class="partner-billede" src="/images/partner3.png" alt="partner 3">
    </a>


<p>
    <button><a href="blivpartner">Bliv Samarbejdspartner!</a></button>
</p>

</div>

</body>
</html>