<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Events</title>
    <link rel="stylesheet" href="/button.css">
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/tl_event.css">
</head>
<header>
    <div class="header-flexbox">
        <a href="/">
            <img class="logo" src="/images/logo.png" alt="Logo">
        </a>
        <div class="dropdown">
            <button><a href="madspild-for">Sådan undgår du madspild</a></button>
            <div class="dropdown-indhold">
                <a href="madspild-org">Sådan undgår du madspild (Som organisation)</a>
                <a href="madspild-vir">Sådan undgår du madspild (Som virksomhed)</a>
            </div>
        </div>

        <div class="dropdown">
            <button><a href="events">Events</a></button>
        </div>

        <div class="dropdown">
            <button><a href="samarbejdspartnere">Vores samarbejdspartnere</a></button>
        </div>
        <div class="tomt">
        </div>
    </div>

</header>
<body>
<div class="events-wrapper">
    <div class="tidligere-events">
        <button style="margin: 20px;"><a href="events">Events</a></button>
    </div>
    <h1>Tidligere events</h1>
    <div class="empty-space"></div> <!-- Tom div til at balancere flex -->
</div>

<div class="event-container">
    <div class="event">
        <img src="images/dentørstigemand.webp" alt="Event 1">
        <h3>En kæmpe succes – Øl imod madspild!</h3>
        <p>
            <br> Eventet "Øl imod Madspild" blev en stor succes, og vi er stolte af det fantastiske fremmøde på 10'Ørern!
            <br> Det var en aften fyldt med god stemning, hvor deltagerne drak øl for en god sag – kampen mod
            madspild.
            <br> Vi satte fokus på, hvordan vi kan reducere madspild, samtidig med at vi nød godt af lokalt brygget øl og hyggeligt fællesskab.
            <br> Det er med stor glæde, at vi kan meddele, at eventet indbragte et beløb på 1.3 millioner, som vil gå til yderligere initiativer mod madspild.
            <br>Tak til alle, der deltog, og gjorde dette til en mindeværdig aften.
            <br>Sammen er vi med til at skabe en positiv forandring for både miljøet og samfundet!
        </p>
        <p>Dato: 13. Juli 2024</p>
        <p>Location: Amager Strandvej 246, 2300 København S</p>

    </div>
    <div class="event">
        <img src="images/musikidetfri.jpg" alt="Event 2">
        <h3>En fantastisk aften – Koncert imod Madspild!</h3>
        <p>
            <br> Vores koncert imod madspild blev en kæmpe succes, og vi er utrolig glade for den store opbakning!
            <br> Aftenen bød på fantastisk musik og en vigtig besked om at bekæmpe madspild.
            <br> Det, der gjorde eventet ekstra specielt, var maden – vi serverede lækre retter, der alle stammede fra
            madspildsorganisationer, som arbejder for at reducere madspild og hjælpe dem, der har brug for det.
            <br> Hver bid var ikke bare velsmagende, men også en påmindelse om, hvordan vi alle kan gøre en forskel.
            <br> Tak til alle, der deltog og gjorde aftenen uforglemmelig. I var med til at skabe opmærksomhed omkring
            madspild og støtte en god sag. Sammen gør vi verden lidt bedre – én bid ad gangen!
            </p>
        <p>Dato: 23. Aug 2020</p>
        <p>Location: Dalumgårds Alle 40A, 5250 Odense</p>
    </div>
    <div class="event">

        <img src="images/cykel.jpg" alt="Event 3">
        <h3>Cykling for en sag – Jylland rundt imod madspild!</h3>
        <p>
            <br> Eventet "Cykling imod Madspild" blev en kæmpe succes, hvor dedikerede deltagere fra hele landet trådte
            i pedalerne for at gøre en forskel. På tværs af Jylland cyklede vi gennem smukke landskaber, mens vi satte
            fokus på at bekæmpe madspild og støtte bæredygtige initiativer.
            <br>
            For et mindre deltagergebyr kunne alle være med, og takket være den imponerende opbakning blev der indsamlet
            et flot beløb, der nu går direkte til organisationer, der arbejder for at reducere madspild og hjælpe
            udsatte.
            <br>
            Langs ruten blev deltagerne mødt med forfriskninger og måltider lavet af overskudsmad, hvilket understregede
            eventets budskab: Mad skal spises, ikke spildes.
            <br>
            Tak til alle, der deltog, støttede eller heppede med fra sidelinjen. Sammen har vi vist, at hver kilometer
            tæller – både for miljøet, fællesskabet og kampen mod madspild!
        </p>
        <p>Dato: 4. Februar 2025</p>
        <p>Location: Kamillevej 10, 2770 Kastrup</p>
    </div>
</div>
</body>
</html>